.contentWrap {
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.textWrap {
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
}
